body {
background-color: rgb(222, 222, 222);
font-family: Arial, sans-serif
}

h1 {
    color: rgb(8, 10, 29);
    text-align: center;
}

Div {
    color: rgb(10, 10, 135);
    text-align: center;
    font-size: 30px;
}

.navbar {
      background-color: #72a3f1;
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      padding: 10px 20px;
    }

.navbar a {
      color: white;
      text-align: center;
      font-size: 25px;
      padding: 10px 15px;
      display: block;
    }


HEAD
table, tr, td { 
    border-style: double;
    height: 50px;

}

.educacion, .curso {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column; /* Coloca los elementos uno debajo del otro */
    align-items: flex-start; /* Alinea los elementos al inicio */
}

.educacion img {
    max-width: 150px; /* Tamaño máximo para las imágenes */
    height: auto;
    margin-bottom: 15px;
    border-radius: 4px;
}

p {
    line-height: 2;
  }
